{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = 'account_options'>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
        <button id='button_one' onclick="">Log Out</button>
        </a>
        <a>
        <button id="button_one" onclick="">Edit Profile</button>
        </a>
    {% else %}
        <a href="{% url 'login-index' %}">
        <button id = 'login' onclick="">Login</button>
        </a>
        <a href="{% url 'create-index' %}">
        <button id = 'login'>Create Account</button>
        </a>
    {% endif %}
</div>
{% endblock %}