{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = 'account_options'>
    {% if user.is_authenticated %}
            <h1>Profile</h1>
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Update">
            </form>
        <a href="{% url 'logout' %}">
        <button id='button_one' onclick="">Log Out</button>
        </a>
    {% else %}
        <a href="{% url 'login-index' %}">
        <button id = 'login' onclick="">Login</button>
        </a>
        <a href="{% url 'create-index' %}">
        <button id = 'login'>Create Account</button>
        </a>
    {% endif %}
</div>
{% endblock %}