{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewer Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}
    <div class ='create_acc_body'>
    {% block content %}
        <h1>Create Account</h1>
        <form id="account_form" class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" class="btn btn-primary" value="Sign up bitch" id =create_acc_button>
        </form>
    {% endblock %}
    </div>
</body>
</html>