* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2e4a;
}

.navbar {
    height: 80px;
    background: aquamarine;
    font-size: 2rem;
    position: fixed;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1300;
}

.nav_items {
    display: flex;
    padding: 0 2rem 0 2rem;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #E84545;
}

#nav_img {
    max-width: 100px;
    /*animation: rotation 0.2s infinite linear;*/
}

@keyframes rotation {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.nav_link {
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: white;
}

.nav_link:hover {
    border-radius: 15px;
    color: blue;
    background-color: brown;
    transition: all 0.2s ease;
}


.pizza_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    list-style: none;
    padding: 0;
}

.pizza {
    margin: 1rem;
    width: 500px;
    height: 300px;
    background-color: #53354A;
    border-radius: 15px;
    position: relative
}

.pizza img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    float: left;
    margin: 15px;
}

#menuName {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 25px;
    margin-left: 20px;
}

#itemDescription {
    position: absolute;
    font-family: 'Inter';
    font-style: italic;
    top: 45px;
    left: 320px;
    font-weight: 500;
    font-size: 25px;
}

#price {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    bottom: 17px;
    right: 10px;
}

#addToCart{
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 17px;
}

#addToCart img{
    width: 20px;
    height: 20px;
    float: bottom;
}


.Cart{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: red;
    border-radius: 15px;
    
}

#Cart_text{
    font-size: 50px;
}

#img_test{
    margin-left: 42.5%;
    margin-right: 42.5%;
    width: 15%;
    height: 15%;
}


/* Account html */
#login{
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 45%;
    margin-top: 10%;
    background-color: aquamarine;
    font-size: 45px;
    border-radius: 15px;

}
#email{
    width: 500px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 50px;
    font-size: 45px;
    border-radius: 15px;
    margin-left: 40%;
}

#create_acc_butt{
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: green;
    margin: 50px;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 60%;
}

/*
#create_account{
    margin-left: 45%;
    display: flex;
    flex-direction: row;
    width: 10%;
}
*/