* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    height: 100px;
    text-align: center;
    background: aquamarine;
    color: white;
    font-size: 2rem;
    position: sticky;
}

.nav_options {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    list-style: none;
    text-align: center;
}

#nav_img {
    max-width: 100px;
}

.nav_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5rem;
    color: white;
}

.nav_link:hover {
    color: blue;
    background-color: brown;
    transition: all 0.2s ease;
}

#Menu{
    padding-right: 100%;
    text-align: left;
    font-size: 20px;
}

#Cart{
    text-align: right;
    font-size: 20px;
    padding-left: 70%;
}
