* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2e4a;
}

.navbar {
    height: 80px;
    background: aquamarine;
    font-size: 2rem;
    position: fixed;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1300;
}

.nav_items {
    display: flex;
    padding: 0 2rem 0 2rem;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #E84545;
}
#empty_cart_amount {
    background-color: #53354A;
    padding: 0;
    margin: 0;
}

#cart_amount {
    background-color: #E84545;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding-top: 0.35rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
}

#nav_img {
    max-width: 100px;
    /*animation: rotation 0.2s infinite linear;*/
}

@keyframes rotation {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.nav_link {
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #903749;
    border-radius: 15px;
}

.nav_link:hover {
    background-color: brown;
    transition: all 0.2s ease;
}

.title {
    background-color: #903749;
    height: 70px;
    border-radius: 40px;
    font-size: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 15px;
    text-align: center;
}

#homephoto {
    height: 500px;
    width: 950px;
    border-radius: 10px;
}

.home_photos_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.home_photos_container img {
    max-width: 33%;
    height: auto;
}

.menunav {
    height: 100px;
    position: fixed;
    position: sticky;
}

.menu_groups {
    display: flex;
    padding: 0 2rem 0 2rem;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.menu_link {
    background-color: #53354A;
    font-family: "Inter";
    font-size: 42px ;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.menu_link2 {
    background-color: #53354A;
    border-radius: 10px;
    font-family: "Inter";
    font-size: 42px ;
    text-decoration: none;
    color: white;
}
.menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    list-style: none;
    padding: 0;
}

.menuitem {
    margin: 1rem;
    width: 600px;
    height: 300px;
    background-color: #53354A;
    border-radius: 15px;
    position: relative
}

.menuitem img {
    width: 300px;
    height: 220px;
    border-radius: 10px;
    float: left;
    margin: 15px;
}

#menuName {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
    margin-left: 20px;
}

#itemDescription {
    position: absolute;
    font-family: 'Inter';
    font-style: italic;
    color: #ffffff;
    background-color: #903749;
    border-radius: 15px;
    top: 45px;
    left: 320px;
    width: 265px;
    height: 180px;
    font-weight: 550;
    font-size: 25px;
}

#price {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    bottom: 17px;
    right: 10px;
    color: #FFFFFF;
}

.savedcontact {
    background-color: #903749;
    width: 1500px;
    height: 400px;
    display: block;
    position: absolute;
    font-size: 50px;
    margin-top: 1%;
}

.cartprogress {
    margin-left: 27%;
}

#addToCart{
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 12px;
}

.contacts {
    font-family: arial;
    font-size: 240px;
    margin: 25px;
    width: 2000px;
    height: auto;
    margin-top: 50px;
    background-color: #53354A;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.editcontact {
    background-color: #E84545;
    width: 1500px;
    height: 400px;
    margin-top: 32%;
    font-size: 70px;
}

.contactname {
    font-family: 'Inter';
    font-style: italic;
    font-size: 70px;
    text-align: center;
    color: #FFFFFF;
}

.contactinfo {
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    color: #FFFFFF;
}

#addToCart img{
    width: 20px;
    height: 20px;
    float: bottom;

}
.backnav {
    margin-left: 50%;
}

.drink {
    margin: 1rem;
    width: 600px;
    height: 300px;
    background-color: #53354A;
    border-radius: 15px;
    position: relative
}

.drink_options {
    position: absolute;
    width: 278px;
    height: 47px;
    top: 1000px;
    background: #903749;
    border-radius: 10px;
}

.add_drink {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 631px;
    top: 695px;

}

.drink_price {
    position: absolute;
    width: 45px;
    height: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.drinkSize {
    position: absolute;
    width: 58px;
    height: 24px;
    left: 412px;
    top: 695px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* cart */
.Cart{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: red;
    border-radius: 15px;

}

#Cart_text{
    font-size: 50px;
}

#img_test{
    margin-left: 42.5%;
    margin-right: 42.5%;
    width: 15%;
    height: 15%;
}


/* Account html */
#login{
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: #E84545;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    justify-content: center;

}

#login_log{
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 50px;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 60%;
}
.create_acc_body{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    background: #53354A;
    border-radius: 15px;
}
#account_form{
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
    margin-right: 40%;
}
#account_form>p{
    padding: 5px;
}
#account_form>p>span{
    font-size: 0px;
}
#account_form>ul{
    padding: 5px;
    margin-left: 25%;
}

.create_acc_body>h1{
    font-size: 50px;
    margin-left: 25%;
}
#create_acc_button{
    margin-left: 70%;
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 1rem;
    text-align: center;
    background-color: #E84545;
    color: white;
    border-radius: 15px;
}

.login_body{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background: #53354A;
    border-radius: 15px;
    padding: 3rem;
}
.login_body>h1{
    font-size: 50px;
    margin-left: 40%;
}
#login_form{
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: 30px;
}
#login_button{
    margin-left: 80%;
    display: flex;
    flex-direction: row;
    width: 20%;
    background-color: #6bff9a;
    color: black;
    font-size: 30px;
    border-radius: 15px;
}

.account_options{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    background: #53354A;
    border-radius: 15px;
    width: 50%;
    height: 600px;
}
#log_out_button{
    display: flex;
    width: 25%;
    height: 30px;
    margin-left: 75%;
    margin-top: 5px;
    border-radius: 15px;
    justify-content: center;
}



.topping_selection_container{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 20px;
    justify-content: space-between;
}

.topping_box>input{
    width: 100px;
    height: 100px;
}

#pizza_form {
    background-color: #53354A;
    margin: 10%;
}

#meat_selection_container{
    background-color: brown;
}

#greens_selection_container{
    background-color: green;
}

#cheese_selection_container{
    background-color: yellow;
}

#edit_profile_form{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 30%;
    font-size: 20px;
    width: 40%;
}
#edit_profile_button{
    width: 20%;
    margin-top: 5px;
    margin-left: 40%;
}
.account_options>h2{
    font-size: 25px;
    margin-left: 40%;
}
.account_options>h1{
    margin-left: 40%;
}
.profile_pic{
    width: 85px;
    border-radius: 35px;
}
.payment_body{
    width: 50%;
    height: 600px;
    margin-top: 10px;
    background-color: #53354A;
    border-radius: 15px;
    margin-right:auto;
    margin-left: auto;
}

.payment_info{
    font-size: 20px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.payment_info>p{
    display: flex;
    flex-direction: column;
;
}