{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="cart_title">
        <h1>Your Cart</h1>
    </div>
    <div class='Cart_body'>
        <div class="cart_items_container">
            <div class="cart_name_container">
                {% for item in data %}
                    <p class="cart_item_name">
                        {{ item.name }}
                    </p>
                {% endfor %}
            </div>
            <div class="cart_desc_container">
                {% for item in data %}
                    <p class="cart_item_desc">
                        {{ item.desc}}
                    </p>
                {% endfor %}
            </div>
            <div class="cart_price_container">
                {% for item in data %}
                    <p class="cart_item_desc">
                        $ {{ item.price }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <a class="checkout_button" href="{% url 'contact_index' %}">
            <button id="cart_confirm" class="btn-primary" onclick="">Checkout</button>
        </a>
    </div>
{% endblock %}
