{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewer Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    {% include 'navigation.html' %}
    <div class="special_offers">
        <div class="special_offers_container">
            <div class="title">
                <h1>Special Offers</h1>
                </div>
            <ul class="menu_list">

                <li class="menuitem">
                    <p id="menuName">Family Offer</p>
                    <img src="/images/FamilyOffer.png" alt="">
                    <p id="itemDescription">Three Sewer Pizzas
                        Two Sewer Sides
                        Two 2L bottles of Soda
                    </p>
                    <button id="addToCart">
                        <img src="/images/CartPhoto.png">
                        </button>
                    <p id="price">59.99$</p>
                </li>

                <li class="menuitem">
                    <p id="menuName">3 for 2</p>
                    <img src="/images/3for2.png" alt="">
                    <p id="itemDescription">Three Sewer Sides pizzas for the price of two.</p>
                    <button id="addToCart">
                        <img src="/images/CartPhoto.png">
                        </button>
                    <p id="price">34.99$</p>
                </li>

                <li class="menuitem">
                    <p id="menuName">Sewer Slice n Soda</p>
                    <img src="/images/SewerSlice.png" alt="">
                    <p id="itemDescription">One Sewer Slice
                        One 0.33L can of soda
                    </p>
                    <button id="addToCart">
                        <img src="/images/CartPhoto.png">
                        </button>
                    <p id="price">4.99$</p>
                </li>

                <li class="menuitem">
                    <p id="menuName">Sewer Pizza with two Toppings</p>
                    <img src="/images/SewerPizza2Toppings.png" alt="">
                    <p id="itemDescription">One Sewer Pizza with two Toppings of your choice</p>
                    <button id="addToCart">
                        <img src="/images/CartPhoto.png">
                        </button>
                    <p id="price">12.99$</p>
                </li>
</body>
</html>