<nav class = "menunav">
    <ul class="menu_groups">
        <li class="menu_groups">
            <li id="search_menu" class = "menu_group">
                <input id="search_menu_input" type="text" placeholder="search.." onkeyup="updateMenu()">
            </li>
            <li id="save_offer" class = "menu_group">
                <a id="save_offer_button">
                    <img src="/static/img/CartPhoto.png" alt="">
                </a>
            </li>
        </li>
        <li class="offer_pizza_group">
            <li id="pizza_1" class = "offer_pizza_group" onclick="set('pizzas')">
                <p class="menu_link">Pizza 1</p>
            </li>
            <li id="pizza_2" class = "offer_pizza_group" onclick="setFilter('user_pizzas')">
                <p class="menu_link">Pizza 2</p>
            </li>
            <li id="pizza_3" class = "offer_pizza_group" onclick="setFilter('sides')">
                <p class="menu_link">Pizza 3</p>
            </li>
        </li>
    </ul>
</nav>