{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewer Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}
    {% include 'menu/menu_navigation.html' %}

    <div class="drink_menu">
        <div class="drink_menu_container">
            <div class="title">
                <h1>Drinks</h1>
                </div>
            <ul class="drink_list">

                <li class="menuitem">
                    <p id="menuName">Coca-Cola</p>
                    <img src="/images/CocaColaLogo.png" alt="">
                    
                    
                </li>
            </ul>
        </div>
    </div>