<nav class = "menunav">
    <ul class="menu_groups">
        <li class="menu_groups">
            <li class = "menu_group">
                <a href="{% url 'pizza-menu-index' %}" class ="menu_link">Pizzas</a>
            </li>
            <li class = "menu_group">
                <a href="{% url 'saved-menu-index' %}" class ="menu_link">Saved Pizzas</a>
            </li>
            <li class = "menu_group">
                <a href="{% url 'side-menu-index' %}" class ="menu_link2">Sewer Sides</a>
            </li>
            
            <li class = "menu_group">
                <a href="{% url 'drink-menu-index' %}" class ="menu_link2">Drinks</a>
            </li>
            <li class = "menu_group">
                <a href="{% url 'create-pizza-index' %}" class ="menu_link">Create a custom pizza</a>
            </li>
        </li>
    </ul>
</nav>