{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'menu/menu_navigation.html' %}
    <div class="side_menu">
        <div class="side_list_container">
            <div class="title">
                <h1>Sewer Sides</h1>
            </div>
            <ul class="menu_list">
                {% for side in sides %}
                    <li class="menuitem">
                        <p id="menuName">{{ side.name }}</p>
                        <img src={{ side.img }} alt="">
                        <p id="itemDescription">{{ side.desc }}</p>
                        <button id="addToCart">
                            <img src="{% static '/img/CartPhoto.png' %}">
                            </button>
                        <p id="price">{{ side.price }}$</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}