{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylebackup.css">
</head>
<body>
    {% include 'navigation.html' %}

    <img id="cartprogress" src="/backup/images/progress1.png" alt="">

    <div class = 'contacts'>
    <button class = 'savedcontact'>
        <p id = "contactname">Sigurður P.</p>
        <p id = "contactinfo">8570791</p>
        <p id = "contactinfo">Kórsalir 5</p>
        <p id = "contactinfo">Kópavogur</p>
        <p id = "contactinfo">Iceland</p>
    </button>
    <button class = 'newcontact'>
        <p>Add New contact</p>
        <p>+</p>
    </button>
    </div>
</body>
</html>