{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}

    <img class='cartprogress' src="{% static "/img/progress1.png" %}" >


    <a href="{% url 'payment-index' %}">
    <button class = 'savedcontact'>
        <p> {{ user.user.first_name }} {{ user.user.last_name }} </p>
        <p> {{ user.user.Phone_Number }} </p>
        <p> {{ user.user.Street_Name }} {{ user.user.House_Number }} </p>
        <p> {{ user.user.City }} </p>
        <p> {{ user.user.Country }} </p>
    </button>
    </a>


    <a href="{% url 'profile-index' %}">
    <button>
        Edit Address
    </button>
        </a>

</body>
</html>