{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}

    <img class='cartprogress' src="{% static "/img/progress1.png" %}" >

    <div class = 'contacts_body'>
        <a href="{% url 'payment_index' %}">
        <button class = 'savedcontact'>
        <p class = "contactname"> {{ user.user.first_name }} {{ user.user.last_name }} </p>
        <p class = "contactinfo"> {{ user.user.Phone_Number }} </p>
        <p class = "contactinfo"> {{ user.user.Street_Name }} {{ user.user.House_Number }} </p>
        <p class = "contactinfo"> {{ user.user.City }} </p>
        <p class = "contactinfo"> {{ user.user.Country }} </p>
        </button>
    </a>

    <a href="{% url 'profile-index' %}">
    <button class = 'alt_interactions'>
        Edit Address
    </button>
        </a>

        <a href="{% url 'cart-index' %}">
    <button class = 'alt_interactions'>
        Back to the cart
    </button>
        </a>

    </div>



</body>
</html>