{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}
    <div class="ord_confirm_body">
        <img id='order_confirm' src="{% static "/img/ConfirmOrder.png" %}" >
        <p id="order_confirmed">Order Confirmed</p>
        <p id="order_confirmed">Estimated Time: 15 minutes</p>

        <a href="{% url 'home-index' %}">
        <button class='back_home_button'>
            Back to the home screen
        </button>
        </a>
    </div>
</body>
</html>