{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewer Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}

    <img class='cartprogress' src="{% static "/img/progress2.png" %}" >

    <div class="payment_body">
        <h1 id="cartform">Payment Information</h1>
        {% block content %}
            <div class="payment_info">
            <form id="payment_info" class="form form-horizontal" action="{% url 'payment_index' %}" method="post">
                {% csrf_token %}
                {{ form.user.as_hidden }}
                {{ form.Card_Number.as_widget }}
                {{ form.Exp_Date.as_widget }}
                {{ form.Cvc.as_widget }}
                <input id="conf_payment_button" type="submit" class="btn btn-primary" value="Confirm">
            </form>
            </div>
        {% endblock %}

    <a href="{% url 'contact_index' %}">
    <button class = 'alt_interactions'>
        Back to the contact screen
    </button>
        </a>
    </div>



</body>
</html>