{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewer Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% include 'navigation.html' %}
    <div class="payment_body">
        <h1>Payment Information</h1>
        {% block content %}
            <div class="payment_info">
            <form id="payment_info" class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="conf_payment_button" type="submit" class="btn btn-primary" value="Confirm">
            </form>
            </div>
        {% endblock %}
    </div>
</body>
</html>